# Gradle build system ignores
Mod/.gradle/
Mod/build/

# Other IDE related folders
Mod/.idea/
Mod/.settings/

# MCreator workspace
Mod/.mcreator/

# Minecraft client/server files
Mod/run/

# MCreator generator ignores
Mod/src/main/resources/assets/*/models/custom
Mod/src/main/resources/assets/*/models/item
Mod/src/main/resources/assets/*/textures/blocks
Mod/src/main/resources/assets/*/textures/items
Mod/src/main/resources/assets/*/textures/models/armor
Mod/src/main/resources/assets/*/textures/*.png
Mod/src/main/resources/assets/*/sounds